<nav>
  <div class="nav-wrapper teal lighten-2">
    <% if (currentUser) { %>
      <a href="/bills" class="">Home</a>
    <% } %>
    <ul class="right">
        <% if (currentUser) { %>
            <li>
              Welcome, <%= currentUser.username %>
            </li>
            <li>
                <form action="/sessions?_method=DELETE" method="POST">
                    <button>Log out</button>
                </form>
            </li>
        <% } else { %>
            <li>
              <a href="/">Log In</a>
            </li>
            <li>
              <a href="/users/signup">Sign Up</a>
            </li>
        <% } %>
    </ul>
  </div>
</nav>
