<nav>
  <div class="nav-wrapper teal lighten-1">
    <% if (currentUser) { %>
      <a href="/bills" class="">HOME</a>
    <% } else { %>
      <span class="left-align"> Payment Due App - track your bills </span>
    <% } %>
    <ul class="right">
        <% if (currentUser) { %>
            <li>
              Welcome, <%= currentUser.username %>
            </li>
            <li id="logout-btn">
                <form action="/sessions?_method=DELETE" method="POST">
                    <button class="btn blue-grey darken-4">SIGN OUT</button>
                </form>
            </li>
        <% } else { %>
            <li>
              <a href="/users/signup">Sign Up</a>
            </li>
            <li>
              <a href="/">Log In</a>
            </li>
        <% } %>
    </ul>
  </div>
</nav>
